@import "~foundation-sites/scss/foundation";

$body-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$header-font-weight: 400;
$body-background: #434f5b;
$anchor-color: #0079ff;
$anchor-color-hover: darken($anchor-color, 10%);

@include foundation-everything;
@import "app/index";
body {
    text-align: center;
    padding: rem-calc(40 0);
}

a {
    transition: all 0.3s;
}
