<div class="kubik-app-home kubik-app__page kubik-page">
    <header class="kubik-page__header">
        <h3 class=" text-center">
            <a id="welcome-to-github-pages" class="anchor"
               href="#welcome-to-github-pages" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Что
            такое Кубик?</h3>
    </header>
    <section class="kubik-page__content"
             data-ng-if="!signup.code">
        <div class="kubik-description">
            <p>Это квест - прогулка в реальном времени на открытом воздухе, где
                задания и ответы приходят через мобильное приложение.
                (приложение еще в разработке)</p>
            <p>Всё, что тебе нужно для игры — телефон (смартфон или планшет),
                подключенный к интернету.</p>
            <p>Маршруты не длинные, чтобы вы обязательно взглянули на родной
                город по-новому и не слишком утомились.</p>
            <p>Наши квесты работают в любую погоду, в будние дни и в праздники,
                в жару и холод.</p>
            <p>Кубик - это атмосфера настоящего приключения, хороший способ
                отлично провести время, посоревноваться и получить кучу
                положительных эмоций!</p>
        </div>
        <div class="text-center">
            <a href="https://vk.com/kubik_kvest">Кубик - уличный квест. Группа</a>
        </div>
    </section>
    <footer data-ng-if="!signup.code"
            class="kubik-page__footer kubik-footer">
        <a class="kubik-footer__button"
           href="https://oauth.vk.com/authorize?client_id=5597353&scope=&redirect_uri=http://kubikvest.xyz&response_type=code">Начать игру</a>
    </footer>
</div>
